@font-face {
  font-family: 'Bd';
  src: url('/assets/fonts/Linotype\ -\ HelveticaNeueLTPro-Bd.otf');
}
@font-face {
  font-family: 'Md';
  src: url('/assets/fonts/Linotype\ -\ HelveticaNeueLTPro-Md.otf');
}

@font-face {
  font-family: 'MdCn';
  src: url('/assets/fonts/Linotype\ -\ HelveticaNeueLTPro-MdCn.otf');
}

@font-face {
  font-family: 'Roman';
  src: url('/assets/fonts/Linotype\ -\ HelveticaNeueLTPro-Roman.otf');
}
:root {
  --accent: #920dfb;
  --light-accent: #bd00fd;
  --default: black;
  --default-white: white;
  --gray: #7f8183;
}
body,
html {
  background-color: var(--default-white);
  margin: 0 auto;
  font-family: 'Roman', sans-serif;
  overflow-x: hidden;
}

* {
  color: var(--default);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Md';
  color: var(--accent);
}

p {
  font-family: 'Roman';
  line-height: 1.5em;
}

header,
section,
footer {
  padding-top: 3em;
  padding-bottom: 5em;
}

/* Main navbar */

.navs-holder {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  /* overflow: hidden; */
  background-color: #ebecee;
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.hidden {
  display: none;
}

.main-nav {
  min-height: 3vh;
  padding-top: 1em;
  font-family: 'Bd';
  font-size: 0.8em;
  padding-bottom: 2em;
  position: relative;
}
.logo {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -35%);
  font-family: 'Bd';
  font-size: 1.5em;
}
.nav-right {
  float: right;
  list-style-type: none;
}

.nav-right > li,
.middle > li {
  text-align: center;
  padding: 2.2em;
  display: inline;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: var(--accent);
}

.btn {
  padding: 0.7em 1.7em;
  border-radius: 0.2em;
}
.btn:hover {
  background-color: var(--light-accent);
  color: var(--default-white);
}

.nav-btn {
  background-color: var(--accent);
  color: white;
}

.burger {
  display: none;
  margin-top: 12px;
  cursor: pointer;
}

.burger div {
  width: 35px;
  height: 3px;
  margin: 7px;
  background-color: var(--accent);
  transition: all 0.3s ease;
}

/* Sub nav */

.sub-nav {
  margin: 0 auto;
  width: 100%;
}

.middle {
  text-align: center;
  padding: 1em;
}

.sub-nav > .middle {
  margin: 0;
}
.middle li {
  padding-top: 0;
  padding-bottom: 1em;
}

.sub-nav-text {
  color: #7f8183;
}

.middle li:hover {
  border-bottom: 2px solid var(--accent);
  color: var(--accent);
}
.middle li:hover a {
  color: var(--accent);
}

/*     Header     */
header {
  border-bottom: 1px solid var(--gray);
  background-image: url('/assets/images/Header_BG.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: auto;
}

.header-text-intro {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4em;
}
.header-text-intro p {
  font-family: 'Roman';
}

.header-text-intro h1 {
  font-size: 3em;
  font-family: 'Bd';
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
}
.header-content-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20%;
}
.header-content-column h3 {
  color: var(--default);
}
.icon {
  width: 50px;
}

/* First section */
.first-section {
  min-height: fit-content;
  text-align: center;
  padding-top: 50px;
  background-color: #fff;
}

.first-section-intro {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 4em;
}

.table-container h1 {
  color: var(--default);
  font-size: 2em;
}
.table {
  margin: 0 auto;
  background-image: url('/assets/images/tableBG.png');
  background-repeat: no-repeat;
  background-position: center;
  text-align: start;
  border-collapse: separate;
  overflow: hidden;
  border-spacing: 0;

  width: 50%;
  padding: 5px 0;
}

td {
  padding: 1em 2em;
  width: 200px;
  border: 0.5px solid #dcd8e8;
}
tr:first-child td {
  border-bottom: hidden;
}

tr:nth-child(2) td {
  border-top: hidden;
}
tr td:last-child {
  border-left: hidden;
}
tr:first-child td:first-child {
  border: hidden;
}

tr:last-child td:first-child {
  border-left: hidden;
  border-right: hidden;
  border-bottom: hidden;
}
tr td:first-child {
  border-left: hidden;
  border-right: hidden;
  border-top: hidden;
}

tr td:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.5);
}
tr td:last-child {
  background: rgba(0, 0, 0, 0.08);
}

tr:first-child td:nth-child(2) {
  border-top-left-radius: 1em;
  color: var(--accent);
  box-shadow: -1px -1px 1px gray;
}
tr td:nth-child(2) {
  box-shadow: -1px 0px 1px gray;
  border-right: hidden;
  border-bottom: hidden;
}

tr:last-child td:nth-child(2) {
  box-shadow: -1px 3px 1px gray;
}
tr:first-child td:last-child {
  border-top-right-radius: 1em;
}
tr:last-child td:nth-child(2) {
  border-bottom-left-radius: 1em;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 1em;
}
td:first-child,
tr:first-child {
  font-family: 'Bd';
}

td:nth-child(n + 2) {
  text-align: center;
}
.table-icon {
  width: 20px;
}

/* Second section */

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Wasn't really sure how the gradient was done here.
  I tried linear and radial as well but couldn't get it right. The colors were confusing. */
  /* background: linear-gradient(135deg, var(--light-accent), var(--accent) 70%); */
  background: radial-gradient(circle at top right, var(--accent), var(--light-accent));
}
.second-content-holder {
  padding: 0 50px;
  width: 50%;
}
.second-content-holder h1 {
  font-size: 2.7em;
  font-family: 'Bd';
  margin-bottom: 0;
}
.second-content-holder > *,
.second-content-holder p {
  color: white;
}
.second-sec-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.second-sec-flex p {
  flex: 2;
  font-family: 'Bd';
}
.second-sec-btn {
  color: var(--accent);
  background-color: white;
  border-radius: 0.2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 60%;
}

.second-sec-btn:hover {
  background-color: white;
  color: var(--accent);
  transform: scale(1.1);
}

/* Third sec  */
.third-section {
  background: linear-gradient(to bottom, #fff, #ebecee 90%);
}
.third-sec-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15%;
}

.third-sec-content {
  width: 25%;
}

.third-sec-content h1 {
  font-size: 2.7em;
  font-family: 'Bd';
  margin-bottom: 0;
}

.third-sec-content h2 {
  color: var(--default);
}
.third-sec-img-container {
  width: 200px;
  height: 200px;
}

.third-sec-img-container img {
  height: 100%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

/* Footer */
footer {
  background-color: var(--default-white);
  position: relative;
}

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7%;
}

.footer-item {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 10%;
}
.footer-item-title {
  text-align: start;
}
.item-ul {
  list-style: none;
}
.item-ul li {
  margin-bottom: 1.5em;
}

.footer-item-title {
  color: var(--accent);
}

.footer-icon {
  width: 120px;
}

.bottom-text {
  display: block;
  position: absolute;
  bottom: 0;
  left: 12%;
  font-family: 'Bd';
  color: var(--gray);
  font-size: 0.7em;
}
.contact-icons-container {
  height: 30px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.contact-icon {
  height: 30px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .footer-list,
  .header-content,
  .second-sec-flex,
  .third-sec-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  .footer-item {
    width: 40%;
  }
  .feature {
    width: 100%;
  }
  table {
    width: 100%;
  }

  td {
    display: block;
    width: 100%;
  }

  tr {
    display: block;
    margin-bottom: 30px;
  }

  body {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 1100px) {
  body {
    overflow-x: hidden;
  }
  .nav-right {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 8vh;
    background-color: #ebecee;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
    border-top: 1px solid var(--accent);
  }

  .burger {
    display: block;
    float: right;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .middle {
    display: flex;
    flex-direction: column;
  }
  .contact-icons-container {
    gap: 1px;
  }
  .third-sec-content {
    width: 70%;
  }
}

/*  Burger animation */
.toggle .line-1 {
  transform: rotate(-45deg) translate(-5px, 9px);
}
.toggle .line-2 {
  opacity: 0;
}
.toggle .line-3 {
  transform: rotate(45deg) translate(-5px, -9px);
}
