@font-face {
  font-family: "Bd";
  src: url("/assets/fonts/Linotype\ -\ HelveticaNeueLTPro-Bd.otf");
}
@font-face {
  font-family: "Md";
  src: url("/assets/fonts/Linotype\ -\ HelveticaNeueLTPro-Md.otf");
}

@font-face {
  font-family: "MdCn";
  src: url("/assets/fonts/Linotype\ -\ HelveticaNeueLTPro-MdCn.otf");
}

@font-face {
  font-family: "Roman";
  src: url("/assets/fonts/Linotype\ -\ HelveticaNeueLTPro-Roman.otf");
}
:root {
  --accent: #920dfb;
  --light-accent: #bd00fd;
  --default: black;
  --default-white: white;
  --gray: #7f8183;
}
body,
html {
  background-color: var(--default-white);
  margin: 0 auto;
  /* min-height: 100vh; */
  font-family: "Roman", sans-serif;
  /* font-size: 1em; */
}

* {
  color: var(--default);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Md";
  color: var(--accent);
}

p {
  font-family: "Roman";
  line-height: 1.5em;
}

header,
section,
footer {
  padding-top: 3em;
  padding-bottom: 5em;
}

/* Main navbar */

/*
Add menu responsiveness
*/
.main-nav {
  min-height: 7vh;
  padding-top: 1em;
  font-family: "Bd";
  font-size: 0.8em;
}
.logo {
  float: left;
}
.nav-right {
  float: right;
  list-style-type: none;
}

.nav-right > li,
.middle > li {
  text-align: center;
  padding: 2.2em;
  display: inline;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: var(--accent);
}

.btn {
  padding: 0.7em 1.7em;
  border-radius: 0.2em;
}

.nav-btn {
  background-color: var(--accent);
  color: white;
}
.nav-btn:hover {
  transform: scale(1.1);
  color: white;
}

/* Sub nav */
/*
Sub nav should be fixed on the top of the screen on scroll down.
Scroll up back to the default position.
sub nav and middle aren't the same height. i should definetly fix this
the heights should match. atm they aren't
*/
.sub-nav {
  margin: 0 auto;
  /* padding-top: 1em; */
  min-height: 4vh;
  border-bottom: 1px solid var(--gray);
  width: 100%;
}

.middle {
  text-align: center;
  list-style-type: none;
}

.sub-nav-text {
  color: #7f8183;
}
/*  
 FIX THIS!
 This isn't optimal. There is a slight gap between the border of the button to the border of the nav. 
 And also, the hovering on the li doesn't color the a.
 
 */
.middle li:hover {
  border-bottom: 2px solid var(--accent);
  color: var(--accent);
}

/*     Header     */
header {
  border-bottom: 1px solid var(--gray);
  background-image: url("/assets/images/Header_BG.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  width: 100%;
  /* padding-bottom: 3em; */
}
.header-text-intro {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4em;
}
.header-text-intro p {
  font-family: "Roman";
}

.header-text-intro h1 {
  font-size: 3em;
  font-family: "Bd";
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
}
.header-content-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20%;
}
.header-content-column h3 {
  color: var(--default);
}
.icon {
  width: 50px;
}

/* First section */
.first-section {
  min-height: fit-content;
  text-align: center;
  padding-top: 50px;
  background-color: #fff;
}

.first-section-intro {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 4em;
}

/* Need to add image and figure out how is should look 
    Table styling is strange. Not sure how to do it.
  
  */

.table-container h1 {
  color: var(--default);
  font-size: 2em;
}
.table {
  /* background-image: url("/assets/images/tableBG.png"); */
  margin: 0 auto;
  /* margin-bottom: 5em; */
  padding: 0.5em 1.5em;
  text-align: start;
}

th,
td {
  border-bottom: 1px solid #ddd;
}
tr:first-child td:nth-child(2) {
  color: var(--accent);
}
td:first-child,
tr:first-child {
  font-family: "Bd";
}
tr:last-of-type {
  border: 0;
}

tr:nth-child(n + 2) {
  border: 1px solid var(--gray);
}
td:nth-child(n + 2) {
  text-align: center;
}
.table-icon {
  width: 20px;
}

/* Second section */

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Wasn't really sure how the gradient was done here.
  I tried linear and radial as well but couldn't get it right. The colors were confusing. */
  /* background: linear-gradient(135deg, var(--light-accent), var(--accent) 70%); */
  background: radial-gradient(
    circle at top right,
    var(--accent),
    var(--light-accent)
  );
}
.second-content-holder {
  padding: 0 50px;
  width: 50%;
}
.second-content-holder h1 {
  font-size: 2.7em;
  font-family: "Bd";
  margin-bottom: 0;
}
.second-content-holder > *,
.second-content-holder p {
  color: white;
}
.second-sec-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.second-sec-flex p {
  flex: 2;
  font-family: "Bd";
}
.second-sec-btn {
  color: var(--accent);
  background-color: white;
  border-radius: 0.2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 60%;
}

/*  The height of this button isn't properly set. */

.second-sec-btn:hover {
  color: var(--accent);
}

/* Third sec  */
.third-section {
  background: linear-gradient(to bottom, #fff, #ebecee 90%);
}
.third-sec-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15%;
}

.third-sec-content {
  width: 25%;
}

.third-sec-content h1 {
  font-size: 2.7em;
  font-family: "Bd";
  margin-bottom: 0;
}

.third-sec-content h2 {
  color: var(--default);
}
.third-sec-img-container {
  width: 200px;
  height: 200px;
}

.third-sec-img-container img {
  height: 100%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

/* Footer */
footer {
  background-color: var(--default-white);
  position: relative;
}

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7%;
}

.footer-item {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 10%;
}
.footer-item-title {
  text-align: start;
}
.item-ul {
  list-style: none;
}
.item-ul li {
  margin-bottom: 1.5em;
}

.footer-item-title {
  color: var(--accent);
}

.footer-icon {
  width: 120px;
}

.bottom-text {
  display: block;
  position: absolute;
  bottom: 0;
  left: 12%;
  font-family: "Bd";
  color: var(--gray);
  font-size: 0.7em;
}
@media screen and (max-width: 800px) {
  .footer-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-item {
    width: 40%;
  }
}
